// @import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

@font-face {
  font-family: NunitoSans700;
  src: url('../Nunito_Sans/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat600;
  src: url('../Montserrat/Montserrat-Medium.ttf');
}

body, *{
  font-family: Montserrat600;
}

$primary: rgb(44, 119, 240);
$dark: #454545;
$light: #fefefe;
$danger: rgb(255, 35, 35);
$warning: rgb(255, 208, 0);
$success: rgb(19, 219, 36);
$info-bg: rgb(190, 208, 255);
$info-text: #051C40;
$text-info: rgb(55, 55, 255);

/***alignments***/
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: left;
}

.text-justify{
  text-align: justify;
}

/***background***/

.bg-info{
  background: $info-bg !important;
  color: $info-text !important;
}

.bg-danger{
  background: $danger !important;
  color: white !important;
}

.bg-success{
  background: $success !important;
  color: white !important;
}

.bg-warning{
  background: $warning  !important;
  color: #000  !important;
}

.bg-primary{
  background: $primary  !important;
  color: white !important;
}

.bg-dark{
  background: $dark !important;
  color: white !important;
}


/***text***/

.text-info{
  color: $text-info !important;
}

.text-primary{
  color: $primary !important;
}

.text-dark{
  color: $dark !important;
}

.text-light{
  color: $light !important;
}

.text-warning{
  color: $warning !important;
}

.text-danger{
  color: $danger !important;
}

.text-success{
  color: $success !important;
}


/***buttons***/

button{
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-info{
  background: $info-bg;
  color: $info-text;
  &:hover, &:focus{
    background-color: rgb(167, 192, 255);
    transition: 0.2s ease-in-out;
  }
}

.btn-primary{
  background: $primary ;
  color: #fff;
  &:hover, &:focus{
    background-color: rgb(15, 83, 255);
    transition: 0.2s ease-in-out;
  }
}

.btn-danger{
  background: $danger;
  color: #fff;
  &:hover, &:focus{
    background-color: rgb(255, 72, 72);
    transition: 0.2s ease-in-out;
  }
}

.btn-dark{
  background-color: $dark;
  color: #fff;
  &:hover, &:focus{
    background-color: #333;
    transition: 0.2s ease-in-out;
  }
}

.btn-success{
  background-color: $success;
  color: #fff;
  &:hover, &:focus{
    background-color: rgb(47, 196, 60);
    transition: 0.2s ease-in-out;
  }
}

.btn-warning{
  background-color: $warning;
  color: #000;
  &:hover, &:focus{
    background-color: rgb(244, 248, 0);
    transition: 0.2s ease-in-out;
  }
}

.btn-disabled{
  color: $dark;
  cursor: not-allowed;
}

/***containers****/

.res-container{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.long-container{
  margin: 0;
}

.classify{
  background: #fff;
  border:1px solid #e1e1e1;
  border-radius: 5px;;
  color: $dark;
  margin: 30px 0;
}

@media screen and (min-width:280px){
  .res-container, .long-container{
    padding: 5px;
  }
}

@media screen and (min-width:320px){
  .res-container, .long-container{
    padding: 10px;
  }
}

@media screen and (min-width:375px){
  .res-container, .long-container{
    padding: 15px;
  }
  .res-container{
    width: 90vw;
  }
}

@media screen and (min-width:425px){
  .res-container, .long-container{
    padding: 25px;
  }
  .res-container{
    width: 85vw;
  }
}

@media screen and (min-width:768px){
  .res-container, .long-container{
    padding: 35px;
  }
  .res-container{
    width: 75vw;
  }
}

@media screen and (min-width:1120px){
  .res-container, .long-container{
    width: 80vw;
    padding: 35px;
  }
}